
*{margin: 0;padding: 0;box-sizing: border-box;}
.box{
    border: 1px solid salmon;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.btn{
    margin-top: 10px;
    color: #eee9e9;
    background: #524e4e;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}